.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}

.formWrapper {
  background: #252526;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  border: 1px solid #3c3c3c;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
}

.logoText {
  color: #4aed88;
  margin: 0 0 10px 0;
  font-size: 2.2rem;
}

.mainLabel {
  margin-bottom: 25px;
  color: #aaa;
  font-size: 14px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputBox {
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #3c3c3c;
  background: #1e1e1e;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.inputBox:focus {
  border-color: #4aed88;
}

.joinBtn {
  background: #4aed88;
  color: #000;
  border: none;
  padding: 14px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

.joinBtn:hover {
  background: #38d174;
}

.createInfo {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  color: #888;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid rgba(74, 237, 136, 0.3);
  cursor: pointer;
}